@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  @media (max-width: 640px) {
    
    .container {
      padding: 1rem; 
    }
  }
  
  @media (min-width: 640px) {
   
    .container {
      padding: 2rem; 
    }
  }
  